body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 15px 20px;
}

.header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* Home Section */
.home {
  text-align: center;
  padding: 80px 20px;
}

.shop-btn {
  padding: 12px 24px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.product-card:hover {
  background: #f4f4f4;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
